{
  "root": true,
  "parser": "babel-eslint",
  "plugins": ["jest"],
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "env": {
    "es6": true,
    "browser": true,
    "jest/globals": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
